<main-menu></main-menu>
<div>
    <div>
        <span>
            <h3>Event Detail</h3>
        </span>
    </div>
    <table class="table table-sm" *ngIf="north">
        <tr>
            <th>Id</th>
            <td>
                <input [(ngModel)]="north.id" type="number">
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>
                <input [(ngModel)]="north.name" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Organization</th>
            <td>
                <input [(ngModel)]="north.organization" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>DateTime</th>
            <td>
                <input [(ngModel)]="north.dateTime" type="datetime">
            </td>
        </tr>
        <tr>
            <th>Link</th>
            <td>
                <input [(ngModel)]="north.link" type="text" disabled>
            </td>
        </tr>
    </table>
</div>