.sidenav {
    width: 20%;
    height: 50%;
}
.example-container {
background-color:  transparent;
}
.matcard {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    align-items: center;
    margin: 25%;
}
.script {
    position: static;
    align-items: center;
    
}

video {
    align-items: center;
}