<main-menu></main-menu>
<div>
    <span>
        <h3>North Side Cars and Coffees</h3>
    </span>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Organization</th>
        <th>DateTime</th>
        <th>Link</th>
    </tr>
    <tr *ngFor="let north of norths">
        <td>{{north.id}}</td>
        <td>{{north.name}}</td>
        <td>{{north.organization}}</td>
        <td>{{north.dateTime}}</td>
        <td>{{north.link}}</td>
        <a routerLink="/north/detail/{{north.id}}">Details</a>
    </tr>
</table>