<main-menu></main-menu>
<div>
    <div>
        <span><h3>Event Detail</h3></span>
    </div>
    <table class="table table-sm" *ngIf="south">
        <tr>
            <th>Id</th>
            <td>
                <input [(ngModel)]="south.id" type="number" >
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>
                <input [(ngModel)]="south.name" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Organization</th>
            <td>
                <input [(ngModel)]="south.organization" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>DateTime</th>
            <td>
                <input [(ngModel)]="south.dateTime" type="datetime" >
            </td>
        </tr>
        <tr>
            <th>Link</th>
            <td>
                <input [(ngModel)]="south.link" type="text" disabled>
            </td>
        </tr>
    </table>
</div>